/* CSS Document */

.season_container{
	position:relative;
	top:0px;
	left:0px;
	width:700px;
	padding:10px 30px 0px 30px;
}
.player_select_container{
	position:relative;
	top:0px;
	left:0px;
	width:750px;
	margin:10px 5px 0px 5px;
	text-align:center;
	border-bottom:1px solid #cccccc;
}
.body_container{
	position:relative;
	top:0px;
	left:0px;
	width:750px;
	padding:10px 5px 0px 5px;
}
.chartL3{
	padding:3px;
	color:#990000;
	border-bottom:1px solid #cccccc;
}
.add_player{
	padding:0px 20px 0px 20px;
	display:inline;
}
