/* CSS Document */

#noteOpener{ 
	text-align:right;
	display:block;
}
#noteCloser{
	text-align:right;
	display:none;
}
#noteOpener a:link, #noteOpener a:active, #noteOpener a:visited, #noteCloser a:link, #noteCloser a:active, #noteCloser a:visited{
	color:#333333;
}
#noteOpener a:hover, #noteCloser a:hover{
	color:#cc0000;
}
#noteBody{
	padding:3px;
	line-height:1.5em;
	text-align:left;
	color:#333333;
	clear:both;
	display:block;
}
.body_container{
	position:relative;
	top:0px;
	left:30px;
	width:660px;
}
.chartL9{
	padding:3px;
	font-style:italic;
	color:#990000;
}
